form {
	max-width: 650px;
	margin: 20px;
	padding: 20px;
	background: rgba(100, 100, 200, .2);
	border-radius: 10px;
	border: 1px solid black;
}
input {
	margin: 3px 0 10px;
  width: 50%;
  display: inline-block;
}
.form-group {
	display: inline-block;
}
.shorten {
	width: 200px;
}
.lengthen {
	width: 300px;
}
table {
	margin: 20px 0;
}
th, td {
	width: 150px;
	text-align: left;
}
th {
	background: rgba(100, 100, 200, .2);
}
ul li {
	margin: 20px;
  list-style: none;
  margin-right: 50px;
}
.buttonContainer {
	width:800px;
	height:100%;
	margin: 20px;
}
.img {
	border-radius: 50%;
	max-width: 100px;
	max-height: 100px;
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.7);
}