<!doctype html>
<html lang="en-US" ng-app="addBooApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Address Book</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
<div class="container">
  <h1>Address Book</h1>
  <div class="buttonContainer">
    <a class="btn btn-primary" href="/#/new">New Contact</a>
    <a class="btn btn-primary" href="/#/">Contacts</a>
    <a class="btn btn-primary" href="/#/record">Record Data</a>
    <div ng-view></div>
  </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>

<!--<div class="container">
  <h1>Address Book</h1>
  <ul id="main-nav">
    <li><a ng-click="addCtrl.displayEntry()">New Entry</a></li>
    <li><a ng-click="addCtrl.displayRecords()">Records</a></li>
  </ul>
  <div class="newRecord" ng-show="addCtrl.showEntry" class="ng-hide">

  </div>
  <div class="recordList" ng-show="addCtrl.showRecords" class="ng-hide">
    <ul>
      <li ng-repeat="(recordId, record) in addCtrl.records" >
      /// <li ng-repeat="record in addCtrl.records" > ///
      </li>
    </ul>
  </div>
</div> -->
