<!doctype html>
<html lang="en-US" ng-app="addBooApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Todo List</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>

  <div class="container" ng-controller="AddressController as addCtrl">
  <h1>Address Book</h1>
  <form name="addressForm" ng-submit="address.$valid && addCtrl.addNewTask()" novalidate>
    <div class="form-group" ng-class="{'has-error': !addCtrl.newTask.name}">
      <label class="control-label">First Name:</label>
      <input class="form-control shorten" type ="text" ng-model="addCtrl.newTask.name" required />
    </div>
    <div class="form-group" ng-class="{'has-error': !addCtrl.newTask.desc}">
      <label class="control-label">Last Name:</label>
      <input class="form-control shorten" type ="text" ng-model="addCtrl.newTask.desc" required />
    </div>
    <div class="form-group" ng-class="{'has-error': !addCtrl.newTask.due}">
      <label class="control-label">Address:</label>
      <input class="form-control" type ="text" ng-model="addCtrl.newTask.due" required />
    </div>
    <div class="form-group" ng-class="{'has-error': !addCtrl.newTask.due}">
      <label class="control-label">City:</label>
      <input class="form-control shorten" type ="text" ng-model="addCtrl.newTask.due" required />
    </div>
    <div class="form-group" ng-class="{'has-error': !addCtrl.newTask.due}">
      <label class="control-label">State:</label>
      <input class="form-control shorten" type ="text" ng-model="addCtrl.newTask.due" required />
    </div>
    <div class="form-group" ng-class="{'has-error': !addCtrl.newTask.due}">
      <label class="control-label">Zip Code:</label>
      <input class="form-control shorten" type ="date" ng-model="addCtrl.newTask.due" required />
    </div>
    <div class="form-group" ng-class="{'has-error': !addCtrl.newTask.due}">
      <label class="control-label">Phone:</label>
      <input class="form-control shorten" type ="text" ng-model="addCtrl.newTask.due" required />
    </div>
    <div class="form-group" ng-class="{'has-error': !addCtrl.newTask.due}">
      <label class="control-label">Github:</label>
      <input class="form-control shorten" type ="text" ng-model="addCtrl.newTask.due" required />
    </div>
    <div class="form-group" ng-class="{'has-error': !addCtrl.newTask.due}">
      <label class="control-label">Twitter:</label>
      <input class="form-control shorten" type ="text" ng-model="addCtrl.newTask.due" required />
    </div>
    <div class="form-group" ng-class="{'has-error': !addCtrl.newTask.due}">
      <label class="control-label">Photo:</label>
      <input class="form-control shorten" type ="text" ng-model="addCtrl.newTask.due" required />
    </div>
    <!-- <div class="form-group">
      <label class="control-label">City:</label><br />
      <select ng-model="addCtrl.newTask.priority">
      <option value="{{val}}" ng-repeat="(val, text) in addCtrl.priorityOptions">
        {{text}}
      </option>
      </select>
    </div> -->
    <input type="submit" value="Add Task" ng-disabled="addressForm.$invalid" />

    <a href="#">Sort</a>

  </form>
  <table>
    <thead>
      <tr>
        <th>Task Priority</th>
        <th>Task Name</th>
        <th>Task Description</th>
        <th>Task Due Date</th>
        <th>Remove Task</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in addCtrl.tasks">
      <td>{{task.priority}}</td>
      <td>{{task.name}}</td>
      <td>{{task.desc}}</td>
      <td>{{task.due | date:'date'}}</td>
      <td><button ng-click="addCtrl.removeTask(task)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <ul>
    <li ng-repeat=""></li>
  </ul>
  </div>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>